<div id="Navbar">
    <div class="Centring">

        <div class="links">
                <a href=""><i class="bi bi-house-door"></i>&nbsp; HOME</a>
                <a href=""><i class="bi bi-shop"></i> &nbsp;CARS-SHOP</a>
                <a href=""><i class="bi bi-telephone"></i> &nbsp;CONTACT-US</a>    
        </div>
        
        <div>
             <a id="imgLink" href="">
                <img width="auto" height="60px" [src]="'assets/imgs/sw-high-resolution-logo-transparent.png'" alt="E">
             </a>
        </div>
        
        <div class="links">
            <input placeholder="Search" type="text">
            <a href=""><i class="bi bi-cart"></i> &nbsp;CART</a>    
            <a href=""><i class="bi bi-person"></i>&nbsp;ACCOUNT</a>
        </div>
    </div>
</div>
